@page "/Aboutme"

@attribute [Authorize(Roles = "admin,guest")]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>About Me</PageTitle>

<h1>Aboute me</h1>

Graduated from engineering school (Paris Instituteof Digital Technology) in 2018,
I have since enriched my technical skills through
my different professional experiences
Computer programming and functional projectmanagement were the heart of my trainings.

@code{
}