@page "/Aboutme"

@attribute [Authorize(Roles = "admin,guest")]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>About Me</PageTitle>
<br/>
<div style="display: flex">
	<div style="width: 50%">
	<h1>Aboute me</h1>
		<p>
		Graduated from engineering school (Paris Instituteof Digital Technology) in 2018,
		I have since enriched my technical skills through
		my different professional experiences
		Computer programming and functional projectmanagement were the heart of my trainings.
		</p>
	</div>

	<div style="width: 50%; margin-left: 25px;">
	<h1>Professionnal skills</h1>
		<ul>
			<li>.NET / .NET core / ASP.NET MVC</li>
			<li>Blazor</li>
			<li>WebAPI</li>
			<li>HTML/CSS/JS</li>
			<li>SQL</li>
			<li>BASH</li>
			<li>JAVA</li>
		</ul>
	</div>
</div>

<div style="width: 50%">
	<h1>INTERESTS</h1>
	<ul>
		<li>Table soccer</li>
		<li>Fitness</li>
		<li>Travel : China, Spain, Portugal, Wales, Austria, Netherland, Marocco, Tunisia, Hungary, Greece, Belgium</li>
	</ul>
</div>

@code{
}