@page "/Aboutme"

@attribute [Authorize(Roles = "admin,guest")]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>About Me</PageTitle>
<br/>
<div style="display: flex">
	<div style="width: 50%">
	<h2>Aboute me</h2>
		<p>
		Graduated from engineering school (Paris Instituteof Digital Technology) in 2018,
		I have since enriched my technical skills through
		my different professional experiences
		Computer programming and functional project management were the heart of my trainings.
		</p>
	</div>

	<div style="width: 50%; margin-left: 25px;">
	<h2>Professionnal skills</h2>
		<ul>
			<li>.NET / .NET core / ASP.NET MVC</li>
			<li>Blazor</li>
			<li>WebAPI</li>
			<li>HTML/CSS/JS</li>
			<li>SQL</li>
			<li>BASH</li>
			<li>JAVA</li>
		</ul>
	</div>
</div>
<div style="display: flex">
	<div style="width: 50%">
		<h2>LANGUAGES</h2>
		<ul>
			<li>French - Native</li>
			<li>English - Correct (TOEIC : 855/990)</li>
			<li>Portuguese - Correct</li>
			<li>Spanish - Correct</li>
		</ul>
	</div>

	<div style="width: 50%">
		<h2>INTERESTS</h2>
		<ul>
			<li>Table soccer</li>
			<li>Fitness</li>
			<li>Travel : China, Spain, Portugal, Wales, Austria, Netherland, Marocco, Tunisia, Hungary, Greece, Belgium</li>
		</ul>
	</div>
</div>
@code{
}