@page "/Contactdetails"

@attribute [Authorize(Roles = "admin,guest")]

@using CV_RibeiroChristophe.Data

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<PageTitle>Contact Me</PageTitle>
<br />
<br />
<div>
	<span style="content: url('https://api.iconify.design/game-icons/position-marker.svg?color=%23151e5e');width: 2rem; vertical-align: middle" aria-hidden="true"></span> 5400-555 Chaves, Vila Real, Portugal
</div>
<br />
<div>
	<span style="content: url('https://api.iconify.design/bxs/phone.svg?color=%23151e5e'); width: 2rem; vertical-align: middle" aria-hidden="true"></span> +33 6 03 83 78 74
</div>
<br />
<div>
	<span style="content: url('https://api.iconify.design/cib/mail-ru.svg?color=%23151e5e'); width: 30px; vertical-align: middle" aria-hidden="true">
		
	</span> <a href="mailto:christophe414@gmail.com">
		christophe414@gmail.com
	</a>
</div>
<br />
<br />
<p>Or Contact me directly :</p>
<br />





<DownloadCV></DownloadCV>

@code {


}