@page "/WorkExperience"

@attribute [Authorize(Roles = "admin,guest")]

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Work Experience</PageTitle>

<h1>Work Experience</h1>

Welcome to your new app.


@code {
}