@using CV_RibeiroChristophe.Authentication
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Ribeiro Da Silva Christophe</PageTitle>

<div class="page">
    <div class="sidebar" style="width:auto">
        <NavMenu />
    </div>

    <main>
        <div class="top-row justify-content-center">
            <h1> .Net Developer </h1>

            <AuthorizeView>
                <div class="top-row px-4">
                    <a @onclick="(() => Logout())">Logout</a>
                </div>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {
    public async Task Logout()
    {
        var customAuthenticationProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("", true);
    }
}