@using CV_RibeiroChristophe.Authentication
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Ribeiro Da Silva Christophe</PageTitle>

<div class="page">
    <div class="sidebar" style="width:auto">
        <NavMenu />
    </div>

    <main>
        <div class="top-row justify-content-center">
            <div class="top-row-center" >
                <h1> .Net Developer </h1>
            </div>

            <AuthorizeView Roles="admin,guest">
                <Authorized>
                    <div class="top-row-right" style="position: absolute;margin-right: 5%;right: 0;">
                        <NavLink href="javascript:void(0)" @onclick="(() => Logout())">Logout</NavLink>
                    </div>
                    <div class="top-row-left" style="position: absolute;margin-left: 2%;left: 0;">
                        @if(@context.User.Identity.Name == "admin")
                        {
                            <span> Loged as @context.User.Identity.Name</span>
                        }
                        else{
                            <span>Here as @context.User.Identity.Name</span>
                        }
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="top-row-right" style="position: fixed;margin-right: 5%;right: 0;">
                        <NavLink href="javascript:void(0)" @onclick="(() => Login())">Log In</NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



@code {

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    public async Task Logout()
    {
        var customAuthenticationProvider = (CustomAuthenticationStateProvider)AuthenticationStateProvider;
        await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).UpdateAuthenticationState(null);
        NavigationManager.NavigateTo("/");
    }
    public void Login()
    {
       
        NavigationManager.NavigateTo("/");
    }
}