@inherits LayoutComponentBase

<PageTitle>CV Ribeiro Da Silva Christophe</PageTitle>

<div class="page">
    <div class="sidebar" style="">
        <NavMenu />
    </div>

    <main>
        <div class="top-row justify-content-center">
            <h1> .Net Developer </h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
