<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Aboutme">Ribeiro Da Silva Christophe</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <AuthorizeView Roles="admin,guest">
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="Aboutme" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> About Me
            </NavLink>
        </div>
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="WorkExperience" Match="NavLinkMatch.All">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Work Experience
            </NavLink>
        </div>
        <div class="nav-item px-3">
                <NavLink class="nav-link" href="Degree" Match="NavLinkMatch.All">
                    <span style="content: url('https://api.iconify.design/icon-park-outline/degree-hat.svg?color=white'); width: 1.7rem; margin-right:7px" ></span> Degree
            </NavLink>
        </div><div class="nav-item px-3">
                <NavLink class="nav-link" href="ContactDetails" Match="NavLinkMatch.All">
                    <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contact Details
            </NavLink>
        </div>
        </AuthorizeView>

        <AuthorizeView Roles="admin">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Users">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
